#python.exe -m pip install --upgrade pip
psycopg2-binary
sqlparse
oracledb
pandas
Pyside6
qtawesome>=1.4.0
openpyxl
drivers/windows/x64/cdata_servicenow_connector-25.0.9539-cp311-cp311-win_amd64.whl
drivers/windows/x64/cdata_csv_connector-25.0.9539-cp311-cp311-win_amd64.whl
